
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link rel="shortcut icon" href="/images/my.png">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Login Page</h1>
  <img src="/images/my.png" alt="image error" width="50" height="50">
  <form action="/login" method="post">
    <label for="username">Username</label>
    <input type="text" name="username" id="username">
    <br><br>
    <label for="password">Password</label>
    <input type="password" name="password" id="password">
    <br><br>
    <button type="submit">Login</button>
    <a href="/register">To Register</a>
  </form>
  
</body>
</html>
